@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

body{
    background: #96A8C8;
}
.littleBox {
    background: white;
    border-style: solid;
    border-width: 1.5px;
    border-color: #071419;
    border-radius: 12px;
    -moz-border-radius: 12px;
}

.littleSpaceTopBottom{
    margin-top: 20px;
    margin-bottom: 20px;
}

.customBangersFont{
    font-family: 'Bangers', cursive !important;
}

.font18px{
    font-size: 18px !important;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .littleSpaceLeftRight{
        margin-left: 40px;
        margin-right: 40px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}